body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.title {
  z-index: 2;
  -webkit-text-fill-color: transparent;
  /* -webkit-text-stroke: rgba(0, 0, 0, 0.3); */
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.3);
  -webkit-text-stroke-width: 1px;
}

.circle {
  box-shadow: 0px 0px 100px #00b533;
  z-index: 1;
}

.about-circle {
  box-shadow: 0px 0px 30px #049d2f;
}

.left-section__item:hover,
.left-section__item.active,
.right-section__item:hover {
  box-shadow: 0px 0px 20px #049d2f;
  background-color: #1febb0;
}

/* Customer slider ----------------------------- */
.service__carousel .owl-stage-outer {
  padding: 1rem 0;
}
.service__carousel .owl-nav button {
  position: absolute;
  bottom: -10%;
  background-color: transparent !important;
  width: 75px;
  height: 20px;
  transition: 0.2s;
  display: block;
}
.service__carousel .owl-nav button span {
  display: none;
}
.service__carousel .owl-nav button.owl-prev {
  right: -10%;
  background-image: url("../images/next.svg") !important;
  background-size: 100% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.service__carousel .owl-nav button.owl-next {
  left: -10%;
  background-image: url("../images/prev.svg") !important;
  background-size: 100% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.special {
  background-image: url("./images/fresh-melientha.png");
  background-repeat: no-repeat;
  background-position: right 0% bottom 5%;
  background-size: 35%;
}
