body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.bg-color {
  background: linear-gradient(to bottom, #8c3af9, #58259e);
}
.text-color {
  background: -webkit-linear-gradient(to bottom, #8c3af9, #58259e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
button.bg-color:hover {
  background: #fff;
}

/* --------------------------------------------- */
/* Loader window ------------------------------- */
/* --------------------------------------------- */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #58259e;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* --------------------------------------------- */
/* Header -------------------------------------- */
/* --------------------------------------------- */
.title {
  z-index: 2;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.2);
  -webkit-text-stroke-width: 1px;
}

.header.active {
  padding: 1rem 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* --------------------------------------------- */
/* Service ------------------------------------- */
/* --------------------------------------------- */
.service__carousel--item img {
  width: 70px !important;
}
.service__carousel--item::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #57259e24;
  transition: 0.2s;
}
.service__carousel--item:hover::before {
  left: -100%;
}

/* --------------------------------------------- */
/* Customer slider ----------------------------- */
/* --------------------------------------------- */

/* arrow buttons */
.owl-stage-outer {
  padding: 1rem 0;
}
.owl-nav button {
  position: absolute;
  background-color: transparent !important;
  width: 50px;
  height: 20px;
  transition: 0.2s;
  display: block;
}
.owl-nav button span {
  display: none;
}
.owl-nav button.owl-prev {
  background-image: url("../images/right-arrow.png") !important;
  background-size: 100% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.owl-nav button.owl-next {
  left: 10%;
  background-image: url("../images/left-arrow.png") !important;
  background-size: 100% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

/* dot navs */
.owl-dots {
  margin-top: 1rem;
  text-align: center;
  position: absolute;
  bottom: -19%;
  left: 50%;
  transform: translate(-50%);
}
.owl-dots .owl-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #57259e85 !important;
  opacity: 0.5;
}
.owl-dots .owl-dot.active {
  background-color: #58259e !important;
  opacity: 1;
}

/* Service carousel */
.owl-dots {
  bottom: -10%;
}
.owl-nav button {
  bottom: -11%;
}
.owl-nav button.owl-next {
  left: 35%;
}
.owl-nav button.owl-prev {
  right: 35%;
}

/* --------------------------------------------- */
/* Portfolio ---------------------------------- */
/* --------------------------------------------- */
.portfolio-nav > li.active {
  border-color: #58259e;
  background-image: linear-gradient(to bottom, #8c3af9, #58259e);
  color: #fff;
}

/* Media Responsive */
@media screen and (max-width: 1024px) {
  .owl-nav button.owl-next {
    left: 30%;
  }
  .owl-nav button.owl-prev {
    right: 30%;
  }
}
@media screen and (max-width: 768px) {
  .menuList {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
  .menuList.active-top {
    top: 76px;
  }
  .about-circle {
    box-shadow: 0px 0px 20px #8c3af9;
  }
  .owl-dots {
    bottom: -5%;
  }
  .owl-nav button.owl-next {
    display: none;
  }
  .owl-nav button.owl-prev {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .menuList.active-top {
    top: 68px;
  }
  .about-circle {
    box-shadow: 0px 0px 10px #8c3af9;
  }
  .service__carousel--item img {
    width: 80px !important;
  }
}
@media screen and (max-width: 400px) {
  #portfolio .phone {
    width: 58px;
  }
  #portfolio .phone .phone_bg {
    width: 48px;
    height: 102px;
  }
  #portfolio .desctop {
    width: 260px;
  }
  #portfolio .desctop .desctop_bg {
    width: 205px;
    height: 130px;
  }
}
@media screen and (max-width: 350px) {
  #portfolio .desctop {
    width: 230px;
  }
  #portfolio .desctop .desctop_bg {
    width: 180px;
    height: 115px;
  }
}
